@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Dark */
    --clr-dark-800: #121212;
    --clr-dark-700: #181818;
    --clr-dark-600: #383838;
    --clr-dark-500: #212121;
    --clr-dark-400: #4d4d4d;
    /* Light */
    --clr-light-800: #e5e5e5;
    --clr-light-700: #f9f9f9;
    /* Main */
    --clr-900: #000000;
    --clr-100: #ffffff;
    --clr-border: #383838;
    --clr-blue: #0060df;
    --clr-red: #bf360c;
    /* Fonts */
    --ff-primary: 'Roboto', sans-serif;
    /* Sizing */
    --btn-padding: .4em;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-text-primary);
    fill: var(--clr-text-primary);
    font-family: var(--ff-primary);
}
