@import "../Styles/mixins.scss";

.yt-icon-btn {
    $size: 40px;
    position: relative;
    width: $size;
    height: $size;
    padding: var(--btn-padding);
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s ease-out, border-color .5s ease-out;

    &:active {
        background-color: var(--clr-dark-500);
        border-color: var(--clr-dark-400);
        transition: background-color 0s, border-color 0s;
    }

    &__content {
        @include flex();
        width: 100%;
        height: 100%;
    }
}
