@mixin flex($j: center, $a: center, $dir: row, $wrap: nowrap) {
    display: flex;
    justify-content: $j;
    align-items: $a;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

@mixin grid($c: auto, $r: auto, $cg: 0px, $rg: 0px) {
    display: grid;
    grid-template-columns: $c;
    grid-template-rows: $r;
    column-gap: $cg;
    row-gap: $rg;
}

@mixin absolute($t: auto, $r: auto, $b: auto, $l: auto, $x: 0px, $y: 0px) {
    position: absolute;
    left: $l;
    right: $r;
    top: $t;
    bottom: $b;
    transform: translate($x, $y);
}

// Media Query

@mixin Desktop {
    $screen-width: 1200px;

    @media (max-width: #{$screen-width}) {
        @content;
    }
}

@mixin Laptops {
    $screen-width: 1024px;

    @media (max-width: #{$screen-width}) {
        @content;
    }
}

@mixin Tablets {
    $screen-width: 768px;

    @media (max-width: #{$screen-width}) {
        @content;
    }
}

@mixin Mobiles {
    $screen-width: 480px;

    @media (max-width: #{$screen-width}) {
        @content;
    }
}
